RewriteEngine On
RewriteBase /dapaglyn_prebooking/

# Redirect old login path
RewriteRule ^auth/login\.php$ login [R=301,L]

# Redirect old dashboard path
RewriteRule ^views/dashboard/dashboard\.php$ dashboard [R=301,L]

# Redirect old form path
RewriteRule ^views/form/form\.php$ form [R=301,L]

# Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]